# .NET Core
bin/
obj/
publish/
*.user
*.userosscache
*.suo
*.userprefs
.vs/

# Environment files
.env
*.env

caserelayapi.zip
# Logs
Logs/
*.log

# IDE
.vscode/
.idea/

# Dependencies
packages/
*.nupkg

# Operating System Files
.DS_Store
Thumbs.db


caserelayapi.zip
