
bin/
obj/

*.user
*.suo

.vs/
.vscode/


ReSharper/


packages/
*.nupkg


appsettings.Development.json
appsettings.json
appsettings.Secret.json


*.dll
*.exe
*.pdb
*.bak
*.sql

bin/Debug/net8.0/Azure.Core.dll
bin/Debug/net8.0/Azure.Identity.dll
bin/Debug/net8.0/BCrypt.Net-Next.dll
bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll

