<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <!-- Allow both anonymous and basic auth -->
          <anonymousAuthentication enabled="true" />
          <basicAuthentication enabled="false" />  <!-- Disable IIS Basic Auth since we're using JWT -->
        </authentication>
        <requestFiltering allowDoubleEscaping="true">
          <fileExtensions>
            <add fileExtension=".ico" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="https://caserelay.vercel.app" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
          <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization,X-Requested-With" />
          <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CaseRelayAPI.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="OutOfProcess" forwardWindowsAuthToken="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://+:80" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
          <environmentVariable name="ASPNETCORE_SHUTDOWNTIMEOUTSECONDS" value="90" />
          <environmentVariable name="DOTNET_RUNNING_IN_CONTAINER" value="false" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting name="debugLevel" value="file,trace" />
          <handlerSetting name="debugFile" value="\\?\%home%\LogFiles\ancm.log" />
        </handlerSettings>
      </aspNetCore>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
