<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Security Configuration -->
      <security>
        <authentication>
          <!-- Allow anonymous authentication, which is common for most public APIs -->
          <anonymousAuthentication enabled="true" />
          <!-- We disable basic authentication for using JWT -->
          <basicAuthentication enabled="false" />
        </authentication>

        <!-- File Filtering, allow .ico file extensions for favicons or icons -->
        <requestFiltering allowDoubleEscaping="true">
          <fileExtensions>
            <add fileExtension=".ico" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>

      <!-- Add handlers for the .NET Core application to be processed -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <!-- Configuring the ASP.NET Core Application -->
      <aspNetCore processPath="dotnet" arguments=".\CaseRelayAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <!-- Environment configuration, set to 'Production' by default, consider switching to 'Development' for debugging -->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://+:80" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
          <!-- The timeout for graceful shutdown of the application -->
          <environmentVariable name="ASPNETCORE_SHUTDOWNTIMEOUTSECONDS" value="120" />
        </environmentVariables>
      </aspNetCore>

      <!-- Allow all error messages to pass through to be logged -->
      <httpErrors existingResponse="PassThrough" />

      <!-- Clear any previous default error page, since ASP.NET Core will handle that with its middleware -->
      <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>

      <!-- Uncomment this part for health check endpoint -->
      <!--
      <rewrite>
        <rules>
          <rule name="API Health Check">
            <match url="^health$" />
            <action type="Rewrite" url="/api/healthcheck" />
          </rule>
        </rules>
      </rewrite>
      -->
      
    </system.webServer>
  </location>
</configuration>
